HUGGINGFACE_TOKEN='YOUR-HUGGINGFACE-KEY-HERE'
HUGGINGFACE_USER='YOUR-HUGGINGFACE-USERNAME-HERE'
OPENAI_API_KEY='YOUR-OPEN-AI-KEY-HERE'
VLLM_API_KEY='YOUR-VLLM-KEY-HERE'
CHAT_BASE_URL='http://localhost:8000/v1'
EMBED_BASE_URL='http://localhost:8001/v1'